@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-secondary: #FFFFFF;
  --color-accent: #0ea5e9;
  --color-background: #F8FAFC;
  
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

/* This replaces the 'content' array in your old config */
@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";